.grid{
    display: grid;


    /* 2 colunas */
    grid-template-columns: 300px 100px;


    /* 2 linhas */
    grid-template-rows: 40px 100px;
}


.grid1{
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 3fr 1fr;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(12,1fr);
    }

.grid3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}    

.grid3 > * {
    background-color: orange;
    border-radius: 5px;
    border: 1px solid black;
}

.grid>*{
    border: 1px solid black;
}

.grid1>*{
    border: 1px solid black;
}

.grid2>*{
    border: 1px solid black;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

section#produtos{
    grid-area: produtos;
}

section#servicos{
    grid-area: servicos;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: publicidade;
}

#grade{
display: grid;
grid-template-areas: 
    "nav header header"
    "nav produtos publicidade"
    "nav servicos publicidade"
    "nav footer footer";
height: 800px;
background-color: aqua;
grid-template-rows: 100px 1fr 1fr 75px;
grid-template-columns: 20% auto 15%;
}

.border{
    border: 1px solid black;
}
